<div class="container">
    <p>Sortable Table</p>
    <softo-table-sortable 
        title="List Name" 
        icon="event" 
        [showFilter]="true"
        noDataMessage="nothing"
        loadingMessage="Data is loading"
        [headerRow]="tableColumns" 
        [dataRows]="tableData"
        [rowActions]="rowActions" 
        [tableActions]="tableButtons" 
        [loading]="isloading" 
        [footer]="footer">
    </softo-table-sortable>
    <softo-button
    label="Refresh"
    [cssClass]="'btn btn-primary'"
    [isLoading]="isloading"
    ></softo-button>
</div>